html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-image: 24px;
    color: #000000;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.header {
    text-align: center;
}

.header__logo {
    padding: 88px 0 60px;
}

.menu {
    border-top: 2px solid #c4c4c4;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu__list-item {
    width: 300px;
}

.menu__list-link {
    color: #888888;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    display: block;
    padding: 34px 10px 38px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    transition: all .3s;
}

.menu__list-item:first-child {
    border-left: 1px solid #c4c4c4;
}

.menu__list-item:last-child {
    border-right: 1px solid #c4c4c4;
}

.menu__list-link--active,
.menu__list-link:hover {
    background-color: #000000;
    color: #ffffff;
}

.slider__item {
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.slick-arrow {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: 20px;
}

.search__inner {
    padding: 60px 0 70px;
}

.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__form-label {
    width: 156px;
    font-size: 24px;
    line-height: 24px;
    color: #888888;
    margin-right: 70px;
}

.search__form-input {
    border: 2px solid #c4c4c4;
    height: 70px;
    width: 430px;
    padding: 0 15px;
}

.search__form-input[placeholder] {
    font-size: 18px;
    line-height: 24px;
    color: #888888;
}

.search__form-btn {
    background: #c4c4c4;
    border: none;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    padding: 23px 23px 23px 36px;
    cursor: pointer;
    position: relative;
}

.search__form-btn::before {
    content: "";
    position: absolute;
    background: url(../images/search.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    top: 26px;
    left: 15px;
}

.popular {
    text-align: center;
}

.popular__title {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
    background: #000000;
    padding: 18px 15px;
}

.popular__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    flex-wrap: wrap;
}

.popular__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

.popular__item-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #888888;
    padding: 30px 10px;
}

.popular__link {
    background: #c4c4c4;
    color: #ffffff;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 48px;
}

.popular__link:hover {
    background: #000000;
}

.reason__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.reason__item {
    width: 450px;
}

.reason__title {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 20px;
    padding-left: 136px;
    position: relative;
}

.reason__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 103px;
    height: 103px;
}

.reason__title--icon-1::before {
    background-image: url(../images/clock-icon.png);
}

.reason__title--icon-2::before {
    background-image: url(../images/word-icon.png);
}

.reason__text {
    color: #000000;
    margin-bottom: 42px;
}

.reason__link {
    color: #888888;
    text-decoration: underline;
    padding-left: 36px;
    position: relative;
}

.reason__link::before {
    content: "";
    position: absolute;
    background: url(../images/arrow-black.svg);
    width: 30px;
    height: 30px;
    left: 0;
    top: -4px;
}

.best {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: right;
}

.best__title {
    max-width: 492px;
    padding-top: 68px;
    margin: 0 0 15px auto;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    color: #ffffff;
}

.best__link {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 16px 18px;
    display: inline-block;
}

.best__link:hover {
    background: #888888;
}

.about {
    background-color: #000000;
    color: #ffffff;
    padding: 100px 0;
}

.about ul {
    list-style: none;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__title {
    margin-bottom: 47px;
    font-family: 'PT Serif', serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    text-align: center;
}

.our-managers {
    width: 297px;
}

.our-managers__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.our-managers__title {
    margin-bottom: 27px;
}

.our-managers__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 22px;
}

.our-managers__list {
    line-height: 21px;
    margin-bottom: 43px;
}

.our-managers__btn {
    border: none;
    background-color: #ffffff;
    color: #000000;
    padding: 16px 21px;
    line-height: 18px;
}

.blog {
    width: 411px;
}

.blog__link {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 28px;
    padding-left: 67px;
    position: relative;
}

.blog__link::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../images/arrow-white.svg);
    position: absolute;
    left: 0;
    top: -4px;
}

.reviews {
    width: 300px;
}

.reviews__img {
    width: 300px;
    height: 127px;
    margin-bottom: 22px;
    object-fit: cover;
}

.reviews__text {
    line-height: 21px;
    margin-bottom: 22px;
}

.reviews__link {
    background-color: #ffffff;
    color: #000000;
    padding: 16px 21px;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    display: inline-block;
}

@media (max-width: 1220px) {
    .popular__item {
        width: 50%;
        margin-bottom: 50px;
    }
    .popular__img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 992px) {
    .search__form {
        flex-wrap: wrap;
    }
    .search__form-label {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        text-align: center;
    }
    .popular__img {
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 768px) {
    .header__logo {
        padding: 40px 0 30px;
    }
    .logo__link-img {
        max-width: 250px;
    }
    .menu__list-link {
        padding: 24px 0 28px;
    }
    .slider__item {
        min-height: 400px;
    }
    .popular__item {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .menu__list {
        display: block;
        border-bottom: 1px solid #c4c4c4;
    }
    .menu__list-item {
        width: 100%;
    }
    .menu__list-item:first-child,
    .menu__list-item:last-child {
        border-left: none;
        border-right: none;
    }
    .menu__list-item+.menu__list-item {
        border-top: 1px solid #c4c4c4;
    }
    .menu__list-link {
        padding: 20px 10px;
    }
    .search__form {
        padding: 0 10px;
    }
    .search__form-input {
        width: 65%;
    }
    .popular__title {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (max-width: 440px) {
    .search__form-input {
        width: 100%;
    }
    .search__form-btn {
        width: 100%;
    }
    .search__form-btn::before {
        display: none;
    }
}